@import "main.css";

/* blog section  */
.blogs__section {
    padding: 130px 0;
}

.blog__cart {
    width: 100%;
    overflow: hidden;
}

.blog__cart--img {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 28px;
}

.blog__cart--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.blog__cart:hover .blog__cart--img img {
    transform: scale(1.1);
}

.blog__cart--img .blog__cart--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 12px 20px;
}

.blog__cart--img .blog__cart--head p {
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
    color: var(--color-bacground);
}

.blog__cart--info h3 {
    font-size: clamp(1.375rem, 1.1921rem + 0.7805vw, 1.875rem);
    line-height: clamp(1.75rem, 1.5671rem + 0.7805vw, 2.25rem);
    color: var(--color-black);
    margin-bottom: 28px;
}

@media screen and (max-width:992px) {
    .blogs__section {
        padding: 90px 0;
    }

    .blog__cart--img {
        margin-bottom: 20px;
    }

    .blog__cart--info h3 {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:576px) {
    .blogs__section {
        padding: 60px 2px;
    }

}

/* reused style blog standert & details  */
.blog__cart {
    width: 100%;
    overflow: hidden;
    padding-right: 26px;
}

.blog__cart img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 28px;
}

.blog__cart .blog__cart__date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-bottom: 8px;
}

.blog__cart .blog__cart__date li {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    position: relative;
}

.blog__cart .blog__cart__date li:not(:last-child)::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--color-black);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
}

.blog__cart h3 {
    font-size: clamp(1.625rem, 1.0762rem + 2.3415vw, 3.125rem);
    font-family: var(--font-clash);
    font-weight: 700;
    line-height: clamp(1.875rem, 1.4177rem + 1.9512vw, 3.375rem);
    color: var(--color-black);
}

.blog__cart p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}

/* blog standart  page*/

.blog__standard {
    padding: 130px 0;
}

.blog__cart--standard {
    margin-bottom: 32px;
}

.blog__cart--standard h3 {
    margin-bottom: 20px;
}

.blog__cart--standard p {
    margin-bottom: 32px;
}



/* pagenetion  */

.blog__pages ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}

.blog__pages ul li a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.blog__pages ul li a:hover {
    color: var(--color-black);
    background-color: var(--color-green-yellow);
}

.blog__pages ul li a span {
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
}

.blog__pages ul li:last-child a {
    color: var(--color-black);
    background-color: var(--color-green-yellow);
}

/* blog siteber area  */
.search__input {
    margin-bottom: 6px;
}

.search__input .input__feld {
    width: 100%;
    padding: 17px 30px;
    background-color: var(--color-bacground);
    position: relative;
}

.search__input .input__feld input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    background-color: var(--color-bacground);
}

.search__input .input__feld input::placeholder {
    color: var(--color-black);
}

.search__input .input__feld svg {
    position: absolute;
    top: 23px;
    transform: translate(-50%);
    right: 23px;
}

.blog__siteber {
    padding: 40px 30px;
    background-color: var(--color-bacground);
}

.blog__siteber h4 {
    color: var(--color-black);
    margin-bottom: 30px;
}

.blog__siteber--categories {
    margin-bottom: 6px;
}

.blog__siteber--categories ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog__siteber--categories ul li {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__siteber--post {
    margin-bottom: 6px;
}

.blog__siteber--post ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog__siteber--post ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog__siteber--post ul li .post__img img {
    vertical-align: middle;
}

.blog__siteber--post ul li .post__info h5 {
    font-size: 20px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 24px;
    color: var(--color-black);
    margin-bottom: 8px;
}

.blog__siteber--post ul li .post__info p {
    font-size: 16px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 28px;
    color: var(--color-black);
}

.blog__siteber--tags ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 8px;
}

.blog__siteber--tags ul li {
    position: relative;
}

.blog__siteber--tags ul li:not(:last-child)::after {
    content: "";
    width: 2px;
    height: 70%;
    top: 6px;
    right: -12px;
    background-color: var(--color-black);
    position: absolute;
}

.blog__siteber--tags ul li a {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}

@media screen and (max-width:992px) {
    .blog__standard {
        padding: 90px 0;
    }

    .blog__standard__cart {
        margin-bottom: 0;
    }

    .blog__cart img {
        margin-bottom: 18px;
    }

    .blog__standard__cart p {
        margin-bottom: 12px;
    }

    .search__input {
        margin-bottom: 0;
    }

    .blog__siteber {
        margin-bottom: 0;
    }

}

@media screen and (max-width:576px) {
    .blog__standard {
        padding: 60px 2px;
    }

}

/* blog details page  */
.blog__details {
    padding: 130px 0;
}

.blog__cart--details {
    margin-bottom: 30px;
}

.blog__cart--details h3 {
    margin-bottom: 28px;
}

.blog__cart--details p {
    margin-bottom: 24px;
}

.blog__details--quote {
    display: flex;
    gap: 20px;
    padding: 30px 40px;
    background-color: var(--color-green-yellow);
    margin: 40px 0;
}

.blog__details--quote p {
    margin-bottom: 0;
}

.tags__shear {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.tags__shear--tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.tags__shear--tags ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.tags__shear--tags ul li {
    position: relative;
}

.tags__shear--tags ul li:not(:last-child)::after {
    content: "";
    width: 2px;
    height: 70%;
    top: 6px;
    right: -12px;
    background-color: var(--color-black);
    position: absolute;
}

.tags__shear--tags ul li a {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}

.tags__shear--shear {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.tags__shear--shear .socile__icon {
    width: 32px;
    height: 32px;
    background-color: var(--color-bacground);
    color: var(--color-black);
}

.tags__shear--shear .socile__icon:hover {
    background-color: var(--color-green-yellow);
}

.paginetion {
    border-top: 1.5px solid var(--color-black);
    padding-top: 20px;
    margin-bottom: 100px;
}

.paginetion ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginetion ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
    color: var(--color-black);
}

/* comments style  */

.blog__comments {
    margin-bottom: 100px;
}

.comments__titel {
    color: var(--color-black);
    padding-bottom: 40px;
}

.comments__info {
    padding: 40px 30px;
    background-color: var(--color-bacground);
}

.comments__info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    margin-bottom: 28px;
}

.comments__info .comments__info__box {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.comments__info .comments__bio h4 {
    color: var(--color-black);
    padding-bottom: 8px;
}

.comments__info .comments__bio p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
}

/* Leave A Comment style  */

.blog__leave__comment .comments__titel h3 {
    padding-bottom: 12px;
}

.blog__leave__comment .comments__titel p {
    font-size: 16px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 28px;
    color: var(--color-black);
}

.blog__leave__comment .form__fild {
    width: 100%;
    border-bottom: 1.5px solid var(--color-black);
    position: relative;
}

.blog__leave__comment .form__fild svg {
    position: absolute;
    top: 22px;
    left: 2px;
}

.blog__leave__comment .form__fild input,
textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 15px 32px;
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 32px;
    color: var(--color-black);
}

.blog__leave__comment .form__fild--textarea {
    margin-top: 16px;
    margin-bottom: 40px;
}

.blog__leave__comment .form__fild textarea {
    height: 175px;
}

.blog__leave__comment .form__fild input::placeholder,
textarea::placeholder {
    color: var(--color-black);
}

.blog__leave__comment .primary__btn {
    border: none;
    background-color: var(--color-green-yellow);
}

.blog__leave__comment .primary__btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

@media screen and (max-width:992px) {
    .blog__details {
        padding: 90px 0;
    }

    .paginetion {
        margin-bottom: 60px;
    }

    .blog__comments {
        margin-bottom: 60px;
    }
}

@media screen and (max-width:768px) {
    .blog__cart--details {
        margin-bottom: 0;
    }

    .paginetion {
        margin-bottom: 40px;
    }

    .blog__comments {
        margin-bottom: 40px;
    }

    .tags__shear {
        flex-direction: column;
        gap: 16px;
        padding-bottom: 20px;
    }

    .comments__titel {
        padding-bottom: 20px;
    }

    .blog__leave__comment .form__fild textarea {
        height: 125px;
    }
}

@media screen and (max-width:576px) {
    .blog__details {
        padding: 60px 20px;
    }

    .blog__details--quote {
        flex-direction: column;
        align-items: self-start;
    }

    .comments__info .comments__info__box {
        flex-direction: column;
        align-items: self-start;
        gap: 16px;
    }
}