@import"main.css";

:root {
    --color-green-yellow: #88E64A;
    --color-black: #0E0E0E;
    --color-bacground: #F6F5F3;
    --color-white: #FFFFFF;

    /* font family  */
    --font-clash: 'Clash Display', sans-serif;
    --font-poppins: "Poppins", sans-serif
}

/* primary btn */
.primary__btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* header section  */
.header__home-two {
    background-color: var(--color-white);
}

.header__home-two a {
    color: var(--color-black);
}

.nav__right {
    gap: 18px;
}

.search__fild {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__fild form {
    width: 485px;
    border: 1px solid #dfdedb;
    position: relative;
}

.search__fild form input:first-child {
    width: 100%;
    padding: 18px 10px;
    border: none;
    outline: none;
}

.search__fild form .primary__btn {
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}

.search__fild form .primary__btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

@media screen and (max-width:1200px) {
    .nav {
        gap: 10px;
    }

    .nav__list {
        gap: 34px;
    }
}

@media screen and (max-width:992px) {
    .nav {
        gap: 30px;
    }
}

@media screen and (max-width:576px) {
    .search__fild form {
        width: 100%;
        padding-inline: 20px;
    }
}

/* hero section  */
.hero__home-two {
    margin-top: 110px;
    padding: 169px 0;
    background-color: var(--color-bacground);
    position: relative;
}

/* before img  */
.hero__home-two::before {
    content: "";
    background-image: url("/assets/images/hero/hero-img.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    position: absolute;
    inset: 0;
    z-index: 9;

}

.hero__home-two::after {
    content: "";
    width: 100%;
    height: 350px;
    background: linear-gradient(90deg, #F6F5F3 40%, #88E64A 70%);
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero__info-home-two {
    position: relative;
    z-index: 10;
}

.hero__info-home-two h1 {
    color: var(--color-black);
    line-height: clamp(3.4375rem, 2.5318rem + 4.1401vw, 7.5rem);
    padding-bottom: 28px;

}

.hero__info-home-two p {
    width: 637px;
    font-size: 20px;
    font-family: var(--font-poppins);
    line-height: 32px;
    font-weight: 500;
    color: var(--color-black);
    padding-bottom: 40px;
}

@media screen and (max-width:1200px) {
    .hero__home-two {
        padding: 90px 0;
    }

    .hero__home-two::before {
        background-size: 556px;
    }

    .hero__home-two::after {
        height: 210px;
    }
}

@media screen and (max-width:992px) {
    .hero__home-two {
        padding: 60px 20px;
    }

    .hero__home-two {
        height: 885px;
    }

    .hero__home-two::before {
        background-size: 400px;
    }

    .hero__home-two::after {
        height: 160px;
    }
}

@media screen and (max-width:768px) {
    .hero__info-home-two p {
        width: 510px;
    }

    .hero__home-two::before {
        background-size: 400px;
    }

}

@media screen and (max-width:576px) {
    .hero__info-home-two p {
        width: 100%;
    }

    .hero__home-two::before {
        background-size: 300px;
    }

    .hero__home-two::after {
        height: 120px;
    }

}

@media screen and (max-width:376px) {

    .hero__home-two::before {
        background-size: 100%;
    }

    .hero__home-two::after {
        height: 100px;
    }
}

/* our partner section */

.our__partner {
    padding: 130px 0;
}

.partner__line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.partner__line p {
    font-size: 18px;
    font-family: var(--font-poppins);
    line-height: 30px;
    font-weight: 400;
    color: var(--color-black);
    white-space: nowrap;
}

.partner__line span {
    width: 100%;
    height: 2px;
    background-color: rgba(14, 14, 14, 0.2);
}

.raning__partner {
    padding: 30px 0;
    overflow: hidden;
}

.raning__partner .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.raning__partner .swiper-wrapper .swiper-slide {
    width: auto;
}

.raning__partner .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:992px) {
    .our__partner {
        padding: 90px 0;
    }
}

@media screen and (max-width:576px) {
    .our__partner {
        padding: 60px 20px;
    }
}

/* about section */

.about__home-two {
    padding-bottom: 130px;
}

.about__box-1 {
    margin-bottom: 130px;
}

.about__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__box-info h2 {
    color: var(--color-black);
    padding-bottom: 28px;
}

.about__box-info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    padding-bottom: 24px;
}

.about__box-info .primary__btn {
    margin-top: 16px;
}

.about__box-info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__box-info ul li {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 500;
    line-height: 30px;
    color: var(--color-black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:992px) {
    .about__home-two {
        padding-bottom: 90px;
    }

    .about__box-1 {
        margin-bottom: 90px;
    }
}

@media screen and (max-width:576px) {
    .about__home-two {
        padding-bottom: 60px;
        padding-inline: 20px;
    }

    .about__box-1 {
        margin-bottom: 60px;
    }
}