@import "main.css";
@import "pricing.css";

/* reused  */
/* btn primary  */
.home__three--primary-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* play btn  */

.play__btn {
    width: clamp(2.5rem, 0.6707rem + 7.8049vw, 7.5rem);
    height: clamp(2.5rem, 0.6707rem + 7.8049vw, 7.5rem);
    background-color: var(--color-white);
    border-radius: 50%;
    transition: all .3s;
    overflow: hidden;
}

.play__btn-icon {
    width: clamp(0.75rem, 0.2927rem + 1.9512vw, 2rem);
    height: clamp(0.75rem, 0.2927rem + 1.9512vw, 2rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

.play__btn-icon:last-child {
    transform: translate(-245%, 145%);
}

.play__btn:hover {
    background-color: var(--color-green-yellow);
}

.play__btn:hover .play__btn-icon:first-child {
    transform: translate(135%, -235%)
}

.play__btn:hover .play__btn-icon:last-child {
    transform: translate(-50%, -50%);
}

/* hero section  */
.hero__home-three {
    padding-top: 210px;
    padding-bottom: 130px;
}

.hero__home-three .hero__header-title {
    padding-bottom: 126px;
}

.hero__home-three .hero__header-title h1 {
    color: var(--color-black);
}

.hero__home-three .hero__header-info {
    width: 660px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero__home-three .hero__header-info p {
    font-size: 20px;
    font-family: var(--font-poppins);
    font-weight: 500;
    line-height: 32px;
    color: var(--color-black);
    margin-bottom: 40px;
}

.hero__play {
    padding-top: 130px;
}

.play__video {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.play__video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play__btn--hero {
    position: absolute;
    top: 60px;
    right: 60px;
}


@media screen and (max-width:1400px) {
    .hero__home-three .hero__header-info {
        width: 600px;
    }

}

@media screen and (max-width:1200px) {
    .hero__home-three .hero__header-title {
        padding-bottom: 30px;
    }

    .hero__home-three .hero__header-info {
        width: 660px;
        position: inherit;
    }

}

@media screen and (max-width:992px) {
    .hero__home-three {
        padding-top: 150px;
        padding-bottom: 90px;
    }

    .hero__play {
        padding-top: 90px;
    }

    .play__btn--hero {
        top: 12%;
        right: 8%;
    }
}

@media screen and (max-width:576px) {
    .hero__home-three .hero__header-info {
        width: 100%;
    }

    .hero__home-three {
        padding-top: 115px;
        padding-inline: 20px;
        padding-bottom: 60px;
    }

    .hero__play {
        padding-top: 60px
    }
}

/* service section  */
.service__home-three {
    padding: 130px 0;
}

.service__home-three .header__title {
    margin-bottom: 40px;
}

.solutions__cart--second-col {
    margin-top: 54px;
}

@media screen and (max-width:992px) {
    .service__home-three {
        padding: 90px 0;
    }

    .solutions__cart--second-col {
        margin-top: 0;
    }
}

@media screen and (max-width:576px) {
    .service__home-three {
        padding: 60px 20px;
    }
}

/* about section  */

.about__home-three {
    padding: 130px 0;
    background-color: var(--color-bacground);
}

.about__home-three-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about__home-three-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__home-three-info h2 {
    color: var(--color-black);
    margin-bottom: 28px;
}

.about__home-three-info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    margin-bottom: 24px;
}

.about__home-three-info .home__three--primary-btn {
    margin-top: 16px;
}

.about__counter-info {
    margin-top: 130px;
}

.counter__info-box {
    text-align: center;
    position: relative;
}

.counter__info-box--line::after {
    content: "";
    width: 2px;
    height: 80%;
    background-color: var(--color-green-yellow);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.counter__info-box h2 {
    color: var(--color-black);
    padding-bottom: 6px;
}

.counter__info-box p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}



@media screen and (max-width:1200px) {
    .about__home-three-info .home__three--primary-btn {
        margin-top: 0;
    }
}

@media screen and (max-width:992px) {

    .about__home-three {
        padding: 90px 0;
    }

    .about__counter-info {
        margin-top: 90px;
    }

    .counter__info-box--line::after {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .about__home-three {
        padding: 60px 20px;
    }

    .about__counter-info {
        margin-top: 60px;
    }
}

/* projects video section  */
.projects__video {
    position: sticky;
    top: 0;
}

.projects__video::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(10, 12, 0) 0%, transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.video__info-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: clamp(0.625rem, -1.4329rem + 8.7805vw, 6.25rem);
    z-index: 10;
}

.video__info {
    color: var(--color-white);
}

.video__info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 8px;
}

.play__btn--projects {
    position: relative;
}

/* articale section  */
.artical__section {
    margin-bottom: 130px;
}

@media screen and (max-width:992px) {
    .artical__section {
        margin-bottom: 90px;
    }
}

@media screen and (max-width:576px) {
    .artical__section {
        margin-bottom: 60px;
    }
}

/* footer section  */
.footer__info-home3 {
    padding-bottom: 124px;
}

.footer__info-home3 .play__btn {
    border: 2px solid white;
    background-color: #1A1A1A;
    color: var(--color-white);
}

.footer__info-home3 .play__btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.socile__media {
    padding-bottom: 16px;
}

.socile__media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px 0;
}

.socile__media ul li a {
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
    color: var(--color-white);
    transition: all .3s;
}

.socile__media ul li a:hover {
    color: var(--color-green-yellow);
}

@media screen and (max-width:992px) {
    .footer__info-home3 {
        padding-bottom: 60px;
    }

}

@media screen and (max-width:992px) {

    .socile__media ul {
        justify-content: flex-start;
        row-gap: 30px;
        column-gap: 40px;
    }
}

@media screen and (max-width:576px) {
    .footer__info-home3 {
        padding-bottom: 40px;
    }
}