@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "home_One.css";

/* ver  */
:root {
    --color-green-yellow: #88E64A;
    --color-black: #0E0E0E;
    --color-bacground: #F6F5F3;
    --color-white: #FFFFFF;

    /* font family  */
    --font-clash: 'Clash Display', sans-serif;
    --font-poppins: "Poppins", sans-serif
}

/* resute  */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

main,
body {
    overflow-x: clip;
}

a {
    text-decoration: none;
    display: inline-block;
}

ol,
ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/* bootstap  resute  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h1 {
    font-size: clamp(2.125rem, 1.0122rem + 7.4146vw, 7.5rem);
    font-family: var(--font-clash);
    font-weight: 700;
    line-height: clamp(3.125rem, 1.2957rem + 7.8049vw, 8.125rem);
}

h2 {
    font-size: clamp(2rem, 1.0829rem + 3.7624vw, 4.375rem);
    font-family: var(--font-clash);
    font-weight: 700;
    line-height: clamp(2.25rem, 1.3329rem + 3.7624vw, 4.625rem);
    ;
}

h3 {
    font-size: clamp(1.625rem, 1.3963rem + 0.9756vw, 2.25rem);
    font-family: var(--font-clash);
    font-weight: 700;
    line-height: 36px;
}

h4 {
    font-size: clamp(1.25rem, 1.1585rem + 0.3902vw, 1.5rem);
    font-family: var(--font-clash);
    font-weight: 600;
}

/* button  */
.primary__btn {
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
    padding: 22px 40px;
    color: var(--color-black);
    transition: all .3s;
}

.primary__btn--green--yellow {
    background-color: var(--color-green-yellow);
}

.secondary__btn {
    font-family: var(--font-clash);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: var(--color-black);
    position: relative;
}

.secondary__btn svg {
    margin-left: 8px;
}

.secondary__btn::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s;
}

.secondary__btn:hover::after {
    animation: secondary-btn-anim .5s;
}

@keyframes secondary-btn-anim {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* table  */
table tbody tr td {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: #282943;
    padding-top: 14px;
}

table tbody tr:first-child td {
    padding-top: 0;
}

table tbody tr td:first-child {
    font-weight: 600;
    color: #282943;
}

table tbody tr td:nth-of-type(2) {
    padding-left: 8px;
    padding-right: 20px;
}

/* header style start  */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 60px;
    z-index: 999;
}

.header__sticky {
    position: fixed;
    background-color: var(--color-white);
    transition: all .3s;
    box-shadow: 0 8px 65px rgba(20, 20, 20, 0.267);
    animation: header--animation 0.3s;
}

@keyframes header--animation {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width:992px) {
    .header {
        padding: 25px;
    }
}

.header__one .header-logo svg {
    color: var(--color-black);
}

.header__two .header-logo svg {
    color: var(--color-white);
}

.header__sticky .header-logo svg {
    color: var(--color-black);
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 110px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 44px;
}

@media screen and (max-width:992px) {
    .nav__list {
        display: none;
    }
}

.nav__list li a {
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
    padding: 16px 0;
    text-transform: uppercase;
}

.header__one .nav__list li a {
    color: var(--color-black);
}

.header__two .nav__list li a {
    color: var(--color-white);
}

.header__sticky .nav__list li a {
    color: var(--color-black);
}

.nav__dropdawn {
    position: relative;
}

.nav__dropdawn ul {
    position: absolute;
    background: var(--color-white);
    top: 50px;
    width: 220px;
    box-shadow: 0 8px 65px rgba(20, 20, 20, 0.267);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    transform: scaleY(0);
    z-index: 99;
}

.nav__dropdawn ul li a {
    padding: 16px 20px;
    color: var(--color-black);
    text-transform: uppercase;
    transition: all .3s;
    width: 100%;
}

.header__two .nav__dropdawn ul li a {
    color: var(--color-black);
}

.nav__dropdawn ul li a:hover {
    background-color: var(--color-black);
    color: #fff;
}

.nav__dropdawn:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.nav__dropdawn--second {
    box-shadow: none;
}

.nav__dropdawn--second ul {
    top: 0;
    left: inherit;
    right: -100%;
}

/* hamburger  */
.header__hamburger {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.header__one .header__hamburger {
    background-color: var(--color-black);
}

.header__two .header__hamburger {
    background-color: var(--color-white);
}

.header__sticky .header__hamburger {
    background-color: var(--color-black);
}


.header__hamburger span {
    width: 18px;
    height: 2px;
    border-radius: 2px;
}

.header__one .header__hamburger span {
    background-color: var(--color-white);
}

.header__two .header__hamburger span {
    background-color: var(--color-black);
}

.header__sticky .header__hamburger span {
    background-color: var(--color-white);
}

.header__hamburger--nav {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.header__hamburger--nav span {
    width: 25px;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 2px;
}

.header__two .header__hamburger--nav span {
    background-color: var(--color-white);
}

.header__sticky .header__hamburger--nav span {
    background-color: var(--color-black);
}

/* mobile nav  */
.mobile__nav .offcanvas-header {
    padding: 20px;
    border-bottom: 1px solid rgba(107, 102, 102, 0.301);
}

.mobile__nav .offcanvas-body {
    padding: 0px;
}

.mobile__nav--list ul li a {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: var(--color-black);
    text-transform: uppercase;
    width: 100%;
    padding: 20px 25px;
}

.mobile__nav--list ul li>a {
    border-bottom: 1px solid rgba(107, 102, 102, 0.301);
}

.mobile__nav--list ul li:last-child>a {
    border-bottom: none;
}

.mobile__dropdawn ul {
    background-color: var(--color-green-yellow);
    display: none;
}

.mobile__dropdawn ul li a {
    padding: 16px 35px;
    color: var(--color-black);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(107, 102, 102, 0.301);
    width: 100%;
}

.mobile__dropdawn ul li a:hover {
    background-color: var(--color-black);
    color: #fff;
}

.mobile__dropdawn--second ul li a {
    padding-left: 50px;
}

/* header contuct info  */

.header__contact--info {
    padding: 35px 20px;
}

.header__contact--icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    margin-bottom: 8px;
}

.header__contact--icon svg {
    width: 20px;
    height: 20px;
}

.header__location,
.header__contact {
    margin-bottom: 32px;
}

.header__contact--info h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 0;
}

.header__location,
.header__contact ul li {
    font-family: var(--font-poppins);
    font-weight: 400;
}

.socile__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.socile__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all .3s;
}

.socile__icon:hover {
    cursor: pointer;
    background-color: var(--color-green-yellow);
    color: var(--color-black);
}

/* site bar  */
.site__bar .offcanvas-header {
    border-bottom: 1px solid rgba(107, 102, 102, 0.301);
}

.site__bar .header__contact--info {
    padding: 20px;
}

.site__bar .header__contact--info p {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    color: var(--color-black);
}

.site__bar .socile__link {
    margin-bottom: 32px;
}

.site__ber--img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 32px;
}

/* header style end  */

/* footer style start  */
.footer__section {
    padding: 130px 0 60px 0;
    background-color: #1A1A1A;
}

.footer__info {
    padding-bottom: 130px;
}

.footer__info h1 {
    font-size: clamp(2.1875rem, 0.7012rem + 6.3415vw, 6.25rem);
    line-height: clamp(2.75rem, 1.2409rem + 6.439vw, 6.875rem);
    color: var(--color-white);
}

.footer__info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-white);
    margin-bottom: 44px;
}

.footer__info .primary__btn--green--yellow:hover {
    background-color: var(--color-white);
}

/* footer nav  */
.footer__nav {
    padding-bottom: 28px;
    border-bottom: 1px solid var(--color-white);
}

.footer__nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 44px;
}

.footer__nav ul li a {
    font-size: 16px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 16px;
    color: var(--color-white);
    transition: all .3s;
}

.footer__nav ul li a:hover {
    color: var(--color-green-yellow);
}

/* copy right  */
.copy__right {
    padding-top: 24px;
}

.copy__right a {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    color: var(--color-bacground);
    transition: all .3s;
}

.copy__right a:hover {
    color: var(--color-green-yellow);
}

@media screen and (max-width:992px) {
    .footer__section {
        padding: 90px 0 60px 0;
    }

    .footer__info {
        padding-bottom: 90px;
    }
}

@media screen and (max-width:576px) {
    .footer__section {
        padding: 60px 20px 60px 20px;
    }

    .footer__info {
        padding-bottom: 60px;
    }

    .footer__nav {
        padding-bottom: 34px;
    }

    .footer__nav ul {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}

/* footer style end  */

/* solutions cart */
.solutions__cart {
    background-color: var(--color-bacground);
    padding: 40px 36px;
}

.solutions__cart__icon {
    margin-bottom: 54px;
}

.solutions__cart h4 {
    line-height: 24px;
    margin-bottom: 14px;
    color: var(--color-black);
}

.solutions__cart p {
    font-family: var(--font-poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    margin-bottom: 32px;
}


/* choose section start  */
.Choose__section {
    padding: 130px 0;
    background-color: var(--color-bacground);
}

.Choose__section .header__title {
    margin-bottom: 54px;
}

.Choose__section .header__title h2 {
    color: var(--color-black);
}

.choose__col--left {
    padding: 46px 0;
}

.choose__info h3 {
    margin-bottom: 20px;
    color: var(--color-black);
}

.choose__info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
    margin-bottom: 32px;
}

.choose__info ul li {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 500;
    line-height: 30px;
    color: var(--color-black);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.choose__info ul li:last-child {
    padding-bottom: 0px;
}

.choose__info--first {
    margin-bottom: 106px;
}

.choose__info--second {
    margin-top: 106px;
}

.choose__info--third {
    margin: 106px 0;
}

.choose__img {
    width: 100%;
    overflow: hidden;
}

.choose__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.choose__line {
    width: 2px;
    height: 100%;
    background-color: var(--color-black);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
}

.choose__line span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-green-yellow);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.choose__line span::after {
    content: '';
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #88e64a4b;
}

.choose__line span:first-child {
    top: 180px;
}

.choose__line span:nth-child(2) {
    top: 50%;
}

.choose__line span:last-child {
    bottom: 185px;
}

@media screen and (max-width:992px) {
    .Choose__section {
        padding: 90px 0;
    }

    .Choose__section .header__title {
        margin-bottom: 24px;
    }

    .choose__info--first {
        margin-bottom: 64px;
    }

    .choose__info--second {
        margin-top: 64px;
    }

    .choose__info--third {
        margin: 60px 0;
    }

    .choose__line {
        display: none;
    }

}

@media screen and (max-width:576px) {
    .Choose__section {
        padding: 60px 20px;
    }
}

/* faq section  */
.faq__section {
    padding: 130px 0;
    background-color: var(--color-bacground);
}

.faq__section .header__title {
    margin-bottom: 53px;
}

.faq__section .header__title h2 {
    color: var(--color-black);
}

.faq__info {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
}

.faq__info p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 500;
    line-height: 30px;
    color: var(--color-black);
}

.accordion-item {
    color: var(--color-black);
    background-color: var(--color-bacground);
    border: 2px solid rgba(14, 14, 14, 0.158);
    margin-bottom: 24px;
}

.accordion-item:first-of-type {
    border-radius: inherit;
}

.accordion-item:last-of-type {
    border-radius: inherit;
    margin-bottom: 0;
}

.accordion-item:not(:first-of-type) {
    border-top: 2px solid rgba(14, 14, 14, 0.158);
    ;
}

.accordion-button {
    font-size: 24px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 24px;
    color: var(--color-black);
    background-color: inherit;
    padding: 28px 20px 28px 30px;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='4' viewBox='0 0 24 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 0.285156H0V3.71375H24V0.285156Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A");
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5714 9.85714C14.3348 9.85714 14.1429 9.66525 14.1429 9.42857V0H9.85714V9.42857C9.85714 9.66525 9.66525 9.85714 9.42857 9.85714H0V14.1429H9.42857C9.66525 14.1429 9.85714 14.3348 9.85714 14.5714V24H14.1429V14.5714C14.1429 14.3348 14.3348 14.1429 14.5714 14.1429H24V9.85714H14.5714Z' fill='%230E0E0E'/%3E%3C/svg%3E%0A");
    background-position: center;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-radius: inherit;
}

.accordion-button:not(.collapsed) {
    color: var(--color-black);
    background-color: var(--color-bacground);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    padding: 0 20px 28px 30px;
}

.accordion-body p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}

.faq__carts {
    padding: 0;
}

.faq__cart {
    padding: 57px 30px;
    text-align: center;
    background-color: var(--color-white);
    transition: all .3s;
}

.faq__cart:hover {
    cursor: pointer;
    background-color: var(--color-green-yellow);
}

.faq__cart h2 {
    font-size: clamp(4.0625rem, 3.9482rem + 0.4878vw, 4.375rem);
    line-height: 74px;
    color: var(--color-black);
    margin-bottom: 6px;
}

.faq__cart p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}

@media screen and (max-width:992px) {
    .faq__section {
        padding: 90px 0;
    }
}

@media screen and (max-width:576px) {
    .faq__section {
        padding: 60px 20px;
    }

    .faq__section .header__title {
        margin-bottom: 28px;
    }

    .faq__info {
        margin-bottom: 42px;
    }
}

/* bread crumb section  */

.breadcrumb {
    background-color: var(--color-black);
    padding-top: 240px;
    padding-bottom: 150px;
    margin-bottom: 0;
}

.breadcrumb__info h1 {
    font-size: clamp(2.625rem, 1.7561rem + 3.7073vw, 5rem);
    color: var(--color-white);
    margin-bottom: 12px;
}

.breadcrumb__info p {
    font-size: 20px;
    font-family: var(--font-clash);
    font-weight: 600;
    line-height: 20px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.breadcrumb__info p span:first-child {
    color: #f6f5f380;
}

@media screen and (max-width:992px) {
    .breadcrumb {
        padding-top: 150px;
        padding-bottom: 90px;
    }

}

@media screen and (max-width:576px) {
    .breadcrumb {
        padding-top: 115px;
        padding-inline: 20px;
    }

}

/* message form  */
.massege__form .massege__titel {
    margin-bottom: 32px;
}

.massege__form .massege__titel h3 {
    padding-bottom: 12px;
}

.massege__form .massege__titel p {
    font-size: 16px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 28px;
    color: var(--color-black);
}

.massege__form .form__fild {
    width: 100%;
    border-bottom: 1.5px solid var(--color-black);
    position: relative;
}

.massege__form .form__fild svg {
    position: absolute;
    top: 22px;
    left: 2px;
}

.massege__form .form__fild input,
textarea {
    width: 100%;
    outline: none;
    border: none;
    padding: 15px 32px;
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 32px;
    color: var(--color-black);
}

.massege__form .form__fild--textarea {
    margin-top: 16px;
    margin-bottom: 40px;
}

.massege__form .form__fild textarea {
    height: 175px;
}

.massege__form .form__fild input::placeholder,
textarea::placeholder {
    color: var(--color-black);
}

.massege__form .primary__btn {
    border: none;
    background-color: var(--color-green-yellow);
}

.massege__form .primary__btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

@media screen and (max-width:768px) {
    .massege__titel {
        padding-bottom: 20px;
    }

    .massege__form .form__fild textarea {
        height: 125px;
    }
}

/* projects and  portfolio projects  */
.projects__cart--left {
    padding-right: 30px;
}

.projects__cart--right {
    padding-left: 30px;
}

.project__cart--link {
    width: 100%;
}

.project__cart .project__cart--img {
    overflow: hidden;
    margin-bottom: 28px;
}

.project__cart .project__cart--img img {
    width: 100%;
    object-fit: cover;
}

.project__cart h4 {
    font-size: clamp(1.625rem, 1.3963rem + 0.9756vw, 2.25rem);
    font-weight: 700;
    line-height: clamp(1.625rem, 1.3963rem + 0.9756vw, 2.25rem);
    color: var(--color-black);
    display: inline;
    background-size: 0% 2px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    transition: background 0.3s linear;
    background-image: linear-gradient(#0e0e0e, #0e0e0e);
    margin-bottom: 8px;
}

.project__cart h4:hover {
    background-size: 100% 2px;
}


.project__cart p {
    font-size: 18px;
    font-family: var(--font-poppins);
    font-weight: 400;
    line-height: 30px;
    color: var(--color-black);
}

@media screen and (max-width:992px) {

    .projects__cart--left {
        padding-inline: 0;
    }

    .projects__cart--right {
        padding-inline: 0;

    }

}